.layout-footer {
  font-size: 13px;
  color: #595959;
  padding: 0 10px;
  margin-bottom: 24px;

  a {
    color: inherit;
    &:visited {
      color: initial;
    }
  }

  &__text {
    margin: 0 0 1.5rem 0;
  }

  &__links {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 1.5;

    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.56);

      &:not(:last-of-type) {
        margin-right: 1.5rem;
      }
    }
  }
}
