@use '../common' as common;

.layout {
  width: 100%;
  margin: 0;
  color: #121212;

  &__header {
    
  }

  &__header-spacing {
    padding-top: common.$header-height;
  }

  &__content {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
}
