.course-table,
.exam-table {
  text-align: left;
  border-spacing: 2px;
  font-size: 11pt;
}

.course-table-row,
.exam-table-row {
  td {
    padding-right: 30px;
  }
}

.course-table-row,
.exam-table-row {
  &__delete,
  &__rename {
    text-align: center;
  }

  &__rename {
    font-size: 0.6rem;
    padding-right: 0;
  }
}

.course-table-row {
  &__rename-button:hover {
    cursor: pointer;
  }
}

.course-table,
.exam-table {
  &__link,
  &__link:visited {
    color: #00568e;
  }

  &__icon {
    vertical-align: middle;
    margin-right: 5px;
  }
}

.course-page {
  &__title {
    font-weight: bold;
    font-size: larger;
  }
}

.delete-exam-button,
.delete-course-button {
  display: inline;

  &__button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline;
  }
}
