PORT=9001
PG_CONNECTION_STRING=postgresql://tarpisto:Su5hgVvoqUCRw5vrWmrW@db:9876/tarpisto
COOKIE_SECRET=keyboard cat 2

USER_SERVICE_SERVICE_ID=7e100baf-f4b1-4956-9b65-231bc29fe079
USER_SERVICE_URL=http://localhost:5000

AWS_REGION=eu-north-1
# <only needed if not running inside AWS>
AWS_ACCESS_KEY_ID=keykeykeykeyk
AWS_SECRET_ACCESS_KEY=asdadadadasdadasd
# </only needed if not running inside AWS>
AWS_S3_BUCKET_ID=bucket-name-here
AWS_CF_KEY_ID=keykeykeykeyk
AWS_CF_KEY="-----BEGIN RSA PRIVATE KEY-----\nasdasdasdasdasd\n-----END RSA PRIVATE KEY-----"
AWS_CF_DISTRIBUTION_DOMAIN=domainasdadadasdadasdadsasd.cloudfront.net
# use signed cookies when serving from under *.tko-aly.fi, if false,
# uses signed URLs which work even when not serving from the same domain
# (can't set-cookie a different domain!)
# set to 1 to use signed cookies
AWS_CF_USE_SIGNED_COOKIES=0