@use './common';
@use './components/layout';
@use './components/header';
@use './components/footer';
@use './components/listing-navigation';
@use './components/course-list';
@use './components/exam-list';
@use './components/flash-message';
@use './components/controls';
@use './components/tables';
@use './components/developer';

body {
  margin: 0;
  padding: 0;

  background: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

.page-container {
  @extend %responsive-container;
}
