@use './components/layout';
@use './components/controls';
@use './components/tables';
@use './components/developer';

body {
  line-height: 1.5;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  background-color: white;
  margin: 8px;
}
