body {
  line-height: 1.5;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  background-color: white;
  margin: 8px;
}

.layout {
  padding-left: 50px;
}

.layout-header {
  margin-bottom: 20px;
  font-size: 24pt;
}

.layout-header__logo {
  vertical-align: middle;
  margin-right: 30px;
  border: 0;
}

.layout-footer {
  padding-bottom: 40px;
}

.course-table,
.exam-table {
  text-align: left;
  border-spacing: 2px;
  font-size: 11pt;
}

.course-table-row td,
.exam-table-row td {
  padding-right: 30px;
}

.course-table-row .course-table-row__delete,
.exam-table-row .exam-table-row__delete {
  text-align: center;
  padding-right: 0;
}

.course-table__link,
.course-table__link:visited,
.exam-table__link,
.exam-table__link:visited {
  color: #00568e;
}

.course-table__icon,
.exam-table__icon {
  vertical-align: middle;
  margin-right: 5px;
}

.course-page__title {
  font-weight: bold;
  font-size: larger;
}

.controls {
  font-size: smaller;
  border: 1px solid black;
  margin: 30px 0;
  padding: 10px;
  display: inline-block;
}

.create-course-form__control {
  display: block;
}

.log-out {
  margin-top: 10px;
  font-size: 8pt;
}

.log-out__link,
.log-out__link:visited {
  color: #00568e;
}

.exam-upload-form__file:not(:valid) + .exam-upload-form__submit,
.create-course-form__name:not(:valid) + .create-course-form__submit {
  pointer-events: none;
  opacity: 0.7;
}

.delete-exam-button,
.delete-course-button {
  display: inline;
}

.delete-exam-button__button,
.delete-course-button__button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline;
}
