@import '../../common';

.date-picker {
  .react-date-picker__wrapper {
    height: 48px;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.react-date-picker--disabled {
    pointer-events: none;
    background: initial;
  }

  &.react-date-picker--disabled .react-date-picker__wrapper {
    border-color: rgba(0, 0, 0, 0.06);
  }

  &.react-date-picker--enabled .react-date-picker__wrapper:hover {
    border-color: #121212;
  }

  .react-date-picker__inputGroup > * {
    color: rgba(0, 0, 0, 0.7);
  }

  &.react-date-picker--disabled .react-date-picker__inputGroup > * {
    color: rgba(0, 0, 0, 0.37);
  }

  .react-date-picker__button__icon {
    stroke: hsl(0, 0%, 45%);
  }

  &.react-date-picker--disabled .react-date-picker__button__icon {
    stroke: rgba(0, 0, 0, 0.06);
  }

  .react-date-picker__button:enabled:hover .react-date-picker__button__icon {
    stroke: #ffcc33;
  }

  &__calendar {
    border-radius: 4px;
    box-shadow: $box-shadow-elevation-3;

    .react-calendar__tile--active {
      background: #ffcc33;
      color: initial;
    }

    .react-calendar__tile--now {
      border: 2px solid #ccc;
    }

    .react-calendar__tile--active.react-calendar__tile--now {
      border: initial;
    }

    .react-calendar__tile--active:hover {
      color: #fff;
    }
  }
}
