.my-switch {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);

  &__label {
    margin-left: 16px;
    cursor: pointer;
  }
}

.file-name-picker {
  &__switch {
    margin: 12px 0 16px 0;
  }

  &__exam-date {
    display: block;
    color: rgba(0, 0, 0, 0.7);
  }

  &__file-name {
    margin-top: 15px;
    width: 100%;
  }

  &__file-name.mdc-text-field--disabled {
    // HACK: override MDC's "pointer-events: none" so we can still hear the onMouseDown in order to enable it
    pointer-events: auto;
  }

  &__text &__text-input {
    caret-color: initial;
  }

  &__text-input {
    font-size: inherit;
  }

  &__generator {
    display: flex;
  }

  &__generator--disabled &__generator-title {
    opacity: 0.7;
  }

  &__generator-section {
    flex: 50%;
  }

  &__generator-section:not(:last-of-type) {
    margin-right: 16px;
  }
}
