@import './_theme';

.file-dropzone {
  border: 1px dashed #aaa;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  min-height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    border-color: rgb(18, 18, 18);
  }

  &:focus {
    outline: $primary-color solid 3px;
  }

  //box-shadow: 0 0 1px 2px rgba($primary-darker-color, 0.5);
  &--drag-active {
    outline: $primary-color solid 3px;
  }
}

.drop-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__icon {
    fill: #808080;
    padding-right: 8px;
  }

  &__text {
    margin: 0 0 6px 0;
    color: #808080;
  }

  &__subtitle {
    margin: 0;
    color: lighten(#808080, 10%);
    font-size: 0.9em;
  }
}
