@import '../../common';
@import './theme';

.submit-page {
  @extend %responsive-container;
  margin-top: 12px;
}

.submit-form {
  --mdc-theme-primary: #{$primary-darker-color};

  padding-top: 1px;
  font-size: 14px;
  background: #fff;
  box-shadow: $box-shadow-elevation-1;
  border-radius: 5px;

  &__file-name {
    height: 38px;
    min-width: 50%;
  }

  &__file-name &__file-name-input {
    caret-color: initial;
  }

  &__file-name-input {
    font-size: inherit;
  }

  &__control-title {
    margin-top: 24px;
    font-size: 16px;
    //font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
  }

  &__control-group {
    padding: 0 24px;
  }

  &__submit-controls {
    margin-top: 24px;
    padding: 24px;
    background: hsl(235, 10%, 95%);
  }
}
