@import '../../_common';
@import './_theme';

.submit-page {
  @extend %responsive-container;
  margin-top: 12px;
}

.submit-form {
  padding: 16px 12px;
  font-size: 14px;
  background: #fff;
  box-shadow: $box-shadow-elevation-1;
  border-radius: 5px;

  &__file-name {
    height: 38px;
    min-width: 50%;
  }

  &__file-name-input {
    font-size: inherit;
  }

  &__file-name &__file-name-ripple {
    background-color: $primary-darker-color;
  }

  &__control-title {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
  }

  &__submit-controls {
    margin-top: 12px;
  }
}
